<div class="fixed-top">
<div class="container-fluid">
  <div class="row" style="">
  <div class="col-md-3" >
  <div class="row"> 
          <div class="col-md-12" > 
             <img src="{{asset('img/images5.jpg')}}" width="80%" style="margin-left:10%">
           </div>
           <div class="col-md-12" >
           </div>
          </div>
       </div>
  <div class="col-md-9" style="">
    <div class="row">
       <div class="col-md-7 " style="text-align:center">
        <h1 class="pt-4 ml3" style="color:#ff8c00"> <b>LES ARTICLES</b> </h1>
        <h5 style="color:#4682b4">BIENVENU SUR NOTRE PAGE</h5>
        </div>
        <div class="col-md-5" style="color:#4682b4">
          <div class="row"  style="margin-left:20%" > 
          <div class="col-md-12 "> 
             <h5>Print Nationale Ankadindramamy </h5>
             <h5>ANTANANARIVO 101 </h5>
           </div>
           <div class="col-md-12" >
              Contact: +261343120839 <br>
              Email: voninahitracalvyn@gmail.com
           </div>
          </div>
       </div>
     </div>
  </div>
  </div>
</div>
</div>
