<div class="navbar navbar-default navbar-fixed" role="navigation" style="background-color:#8c3b69">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" datatoggle="collapse" data-target=".navbar-collapse">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" style="color:#fff">Blog Laravel</a>
</div>
<div class="collapse navbar-collapse " style="margin-left:18%">
    <ul class="nav navbar-nav" style="width:70%">
     <li class="" ><a href="{{route('acceuil.index')}}" style="color:#fff"><span>Acceuil</span></a></li>
     <li  style="margin-left:5%"><a href="{{route('article.index')}}"  style="color:#fff"><span>Articles</span></a></li>
    </ul>
 </div><!--/.nav-collapse -->
</div>
</div>